.form-card {
    background-color: #804022;
    padding: 2rem;
    min-width: 50rem;
    min-height: 40rem;
    color: white;
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
}

.tab-button {
    background-color: #f07c19;
    border: none;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.tab-button:hover {
    background-color: #e96f00;
}

.active-tab {
    background-color: #fff;
    color: #000;
}

.form-section {
    display: none;
}

.active-form {
    display: block;
}

.form-control {
    border: 0 !important;
}
