@{
    ViewData["Title"] = "History";
    Layout = "~/Views/Shared/_Header2.cshtml";
}

<link rel="stylesheet" href="~/css/Situation/style.css" asp-append-version="true"/>

<div class="italiana-regular d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 95%; max-width: 1000px;">
        <h1>Historico de Pedidos</h1>

        <table>
            <thead>
            <tr>
                <th class="status">Id</th>
                <th class="status">Pedido</th>
                <th class="status">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>#2834</td>
                <td>Nacho</td>
                <td>Pronto</td>
            </tr>
            <tr>
                <td>#2835</td>
                <td>Taco</td>
                <td>Concluido</td>
            </tr>
            <tr>
                <td>#2836</td>
                <td>Burrito</td>
                <td>Concluido</td>
            </tr>
            <tr>
                <td>#2837</td>
                <td>Quesadilla</td>
                <td>Concluido</td>
            </tbody>
        </table>
    </div>
</div>