@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    var currentPath = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <title>@ViewData["Title"] - TacoPica_loco</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/TacoPIca_loco.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/base.css" asp-append-version="true"/>
</head>
    <body class="bg-black">
    @if (currentPath == "/Login")
    {
        @await Html.PartialAsync("_Header1");
    }
    else
    {
        @await Html.PartialAsync("_Header2");
    }
    
    <div class="container1 d-flex align-items-center justify-content-center float-end" style="width: 40%; height: 90vh; background: linear-gradient(to left, rgba(0,0,0,0.8) 95%, transparent);">
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>